<h2>Upload Photos</h2>

<script>
    function readFile(file){
        return new Promise((resolve, reject) => {
            var fr = new FileReader();  
            fr.onload = () => {
                resolve(fr.result )
            };
            fr.onerror = reject;
            fr.readAsArrayBuffer(file);
        });
    }

    function digestToHex(hashBuffer) {
        const hashArray = Array.from(new Uint8Array(hashBuffer));
        return hashArray.map(b => b.toString(16).padStart(2, '0')).join('');
    }

    async function directorySelected(fileElement, statusElement) {
        fileElement.disabled = "disabled";

        var fileHashes = {};
        for (const file of fileElement.files) {
            const contents = await readFile(file);
            const hashBuffer = await crypto.subtle.digest('SHA-256', contents);
            const hash = digestToHex(hashBuffer);
            fileHashes[hash] = file;
            statusElement.innerText = 'Calculated hash ' + Object.keys(fileHashes).length + ' of ' + fileElement.files.length;
        }

        console.log(fileHashes);
    }
</script>

<input type="file" webkitdirectory onchange="directorySelected(this, document.getElementById('status'))" />

<p id="status"></p>