<h2>Upload Photos</h2>

<script>
    function directorySelected(element) {
        console.log(element.files);
    }
</script>

<input type="file" webkitdirectory onchange="directorySelected(this)" />