<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Galeriya</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="@Url.Action("Index", "Admin")">Galeriya</a>
    </nav>
    <div class="@((ViewBag.FullWidth == true) ? "container-fluid" : "container")">
        @RenderBody()
    </div>
</body>
</html>
