@model EditUserModel

<h2>@(Model == null ? "Add" : "Edit") User</h2>

@if (Model is EditUserModelErrorFail fail)
{
    <ul>
        @foreach (var error in fail.Errors)
        {
            <li>@error.Code - @error.Description</li>
        }
    </ul>
}

<form action="" method="post">
    <div class="form-group">
        <label asp-for="Username">Username</label>
        <input class="form-control" asp-for="Username" />
    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input class="form-control" asp-for="Password" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">@(Model == null ? "Add" : "Edit") User</button>
    </div>
</form>